<nav>
  <div>Contact Book</div>
  <ul>
    <li><a href="/contacts">Index</a></li>
    <li><a href="/contacts/new">New</a></li>
  </ul>
</nav>

<!-- 페이지마다 표시될 menu부분입니다.
index와 new view로 이동하는 메뉴를 가지고 있습니다. -->
