<meta name="viewport" content="width=device-width,initial-scale=1">

<!-- jquery & bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- web font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

<!-- my css -->
<link rel="stylesheet" href="/css/master.css">

<title>My Website</title>

<!--
구글 웹폰트 적용방법을 알아봅시다. 구글에서 제공하는 웹폰트는
https://fonts.google.com 에서 검색할 수 있습니다.
검색창에서 폰트이름으로 검색을 할 수도 있고, 아니면 리스트에서
마음에 드는 폰트를 찾아서 사용할 수도 있습니다.

원하는 폰트를 클릭하면 폰트에 대한 상세한 설명이 나옵니다.
해당 폰트를 사용하고 싶으면 우측 상단에
'SELECT THIS FONT' 를 눌러줍니다.

그러면 우측 하단에 '1 Family Selected'라고 검은 박스가 생깁니다.
여기서 family는 font family를 뜻합니다. 
하나의 폰트라도 그안에 폰트 두께라든가, 기울기라든가 등등의
font들을 포함하고 있으므로 font family라고 부릅니다.
'1 Family Selected' 박스를 누릅니다.

Embed Font 항목은 font를 어떻게 내 프로젝트에 가져오는지를
설명하고 있습니다. 회색 박스 안의 내용을 html head에 넣으라는
설명입니다. head.ejs의 1번 내용이 바로 여기서 가져온 코드입니다.
Specify in CSS 항목은 css파일에서 어떻게 해당 폰트를 사용할지를
알려줍니다.
-->
