<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head_board') %>
  </head>
  <body>
    <%- include('../partials/nav_board') %>

    <div class="container mb-3">

      <h2 class="mb-3">About</h2>

      <P>이 사이트는 <a href="http://a-mean-blog.com/ko/blog/Node-JS-첫걸음/게시판-만들기">http://a-mean-blog.com/ko/blog/Node-JS-첫걸음/게시판-만들기</a>를 참고하여 서재원이 2021년 6월 22일 만들었습니다.</p>

    </div>
  </body>
</html>
